:root{
    --body-bg:hsl(222, 26%, 31%);
    --keypad-bg:hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --top-txt: rgb(255, 255, 255);
    --keyboard-bg:hsl(6, 63%, 50%);
    --key-txt:rgb(68, 75, 90);
    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --key1-bg: hsl(225, 21%, 49%);
    --key1-shadow: hsl(224, 28%, 35%);
    --key2-bg: hsl(6, 63%, 50%);
    --key2-shadow:hsl(6, 70%, 34%);
    --btn-txt:hsl(224, 36%, 15%);
}

